#WebName{
    font-size:30px;
    font-weight: bold;
    color:red;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}


.modal-header, .close {
    background-color: #5cb85c;
    color:white !important;

    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.navbar{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding:0px;
    position: fixed; /* Make it stick/fixed */
   
    width: 100%; /* Full width */
}
.item{
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    padding:0px;
}
.carousel slide{
        
}
.carousel-caption h2{
        font-size:30px;
        color:black;
        font-style: italic;
}
.carousel-caption p{
    font-size:15px;
    color:black;
    font-style: italic;
}
* {
    box-sizing: border-box;
}

body {
    background-color:pink;
    
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color:white;
    padding: 10px;
    height:300px;
    width:300px;

}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }