
#WebName{
    font-size:30px;
    font-weight: bold;
    color:red;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}


.modal-header, .close {
    background-color: #5cb85c;
    color:white !important;

    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.navbar{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding:0px;
    position: fixed; /* Make it stick/fixed */
   
    width: 100%; /* Full width */
}
.item{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0px;
    height: 450px;
    width: 100%;
}
.carousel slide{
        
}
.carousel-caption h2{
        font-size:30px;
        color:black;
        font-style: italic;
}
.carousel-caption p{
    font-size:15px;
    color:black;
    font-style: italic;
}
.myBtnContainer{
    width: 100%;
}
body {
    background-color:pink;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}


h4{
    font-size:20px;
    color: pink;
    font-weight: bold; 
}
p{
    font-size:15px;
     
}
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  .card > .card-img-top {
      height: 300px;
      
      padding: 2px 2px;
      margin: 0 auto;   /* center image */
      width: 100%; 

  }
  .col-lg-4 col-md-4 col-sm-6 col-xs-12{
      margin-top:3%;
  }
  .title
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:firebrick;
}
  .price{
      font-weight: bold;
      color: coral;
  }
  .card{
      border: 1px solid gray;
      padding: 10px 10px;
      box-sizing:content-box;
      margin-top: 10px;
  }
  #display-row
  {
    padding-bottom: 10px;
  }
